.header {
  margin-top: 260px;
}
.heading-text {
  font-weight: lighter;
  font-size: 20px;
}
.has-search .form-control {
  padding-left: 2.375rem;
  border-radius: 15px 15px 15px 15px !important;
  background-color: #3c3f54;
  height: 50px;
  border-color: #3c3f54;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #fff;
}
