.has-search .form-control1 {
  padding-left: 2.375rem;
  border-radius: 30px !important;
  background-color: rgb(226, 227, 236);
  height: 40px;
  /* border-color: rgb(226,227,236); */
}

.has-search .form-control-feedback1 {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #616372;
}
#dropdownMenuButton {
  padding-left: 1rem;
  border-radius: 30px !important;
  background-color: rgb(226, 227, 236);
  height: 40px;
}

.dropdown {
  margin-left: 20px;
}
.toggle {
  width: 300px;
  color: rgb(117, 214, 209);
  background-color: ;
}
/* .show-country {
  font-size: 10px;
} */
