.img-thumbnail {
  border-radius: 50% !important;
  margin-left: 30px;
  border-color: rgb(117, 214, 209);
  border-width: 5px;
}
.card {
  height: 130px !important;
}
.address {
  /* padding-bottom: 400px; */
  font-size: 18px;
}
.mail {
  font-weight: lighter;
}
.white {
  color: #616372;
}
.btn-color {
  background-color: rgb(117, 214, 209);
  cursor: pointer;
  /* margin-bottom: 20px; */
}
